.start-shift{

    display: flex;
    flex-direction: column;
}

.start-shift button{
    margin: 0 15px;
    font-size: 0.9rem;
    transition: all 250ms;
    cursor:pointer;
    border-radius: 12px;

}

.end-shift{

    display: flex;
    flex-direction: column;
}

.end-shift button{
    margin: 0 15px;
    font-size: 0.9rem;
    transition: all 250ms;
    cursor:pointer;
    border-radius: 12px;
    
}
.start-shift:hover {
    transform: translateY(-1px);
    font-size: 1rem;

}

.end-shift:hover {
    transform: translateY(-1px);
    font-size: 1rem;

}



