.start-shift{

    display: flex;
    flex-direction: column;
}

.start-shift button{
    color: #E6DDC4;
    background-color: #181D31;
    align-items: center;
    border: 1px solid #E6DDC4;
    border-radius: 0.25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;

}

.end-shift{

    display: flex;
    flex-direction: column;
}

.end-shift button{
    color: #E6DDC4;
    background-color: #181D31;
    align-items: center;
    border: 1px solid #E6DDC4;
    border-radius: 0.25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    
}
.start-shift:hover {
    transform: translateY(-1px);
    font-size: 1rem;

}

.end-shift:hover {
    transform: translateY(-1px);
    font-size: 1rem;

}



