.home-date{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: sans-serif;
    text-shadow:0px 0px 1px #fff;
    align-items: center;

}


.home-date h1{
    display: flex;
  font-size: 34px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;

}