.user-login-body{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}


.user-login-body > h1{
    font-size: 4rem;
    margin: 3%;
}
.input-id-field{
    width: 100%;
    text-align: center;

}
.input-id-field > input{
    padding-bottom: 3%;
    padding-top: 3%;
    width: 100%;
    border-end-end-radius: 100px;
    border-top-right-radius: 100px;

}
.helper-text-input, .hidden{
    margin: 0;
    font-size: smaller;

}
.hidden{
    visibility: hidden;

}
.admin-btn {
    margin: 0;
    font-size: 0.9rem;
    transition: all 250ms;
    cursor:pointer

}

.admin-btn:hover {
    background-color: #E6DDC4;
    color: #181D31;
    transform: translateY(-1px);
    font-size: 1rem;

}

.admin-btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

.remember-me-checkbox
    input[type=checkbox] {
        accent-color: red;
      }
    

