/* .home-nav{
    background: linear-gradient(45deg, rgb(180, 96, 96), midnightblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;


}

.nav-page-list {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-page {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 15px;
}

@media screen and (max-width: 500px){
    .nav-page-list {
        flex-direction: column;
        height: auto;
    }
    .nav-page:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .nav-page {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
        
    }
} */

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    display: flex;
    overflow: hidden;
    background-color: #333;
    justify-content: space-evenly;
  }
  
  .navbar a {
    display: flex;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #E6DDC4;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F0E9D2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: #181D31;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #678983;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


